/** Proxima Nova **/



@font-face {
    font-family: 'Proxima Nova';
    src: url("proximanova-light-webfont.eot");
    src: url("proximanova-light-webfont.eot?#iefix") 
    format('embedded-opentype'), url("proximanova-light-webfont.woff") 
    format('woff'), url("proximanova-light-webfont.ttf") format('truetype'),
     url("proximanova-light-webfont.svg#Proxima Nova Light") format('svg');
    font-weight: 300;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url("proximanova-regular-webfont.eot");
    src: url("proximanova-regular-webfont.eot?#iefix") 
    format('embedded-opentype'), url("proximanova-regular-webfont.woff") 
    format('woff'), url("proximanova-regular-webfont.ttf") format('truetype'),
    url("proximanova-regular-webfont.svg#Proxima Nova Regular") format('svg');
    font-weight: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url("proximanova-semibold-webfont.eot");
    src: url("proximanova-semibold-webfont.eot?#iefix") 
    format('embedded-opentype'), url("proximanova-semibold-webfont.woff") 
    format('woff'), url("proximanova-semibold-webfont.ttf") format('truetype'), 
    url("proximanova-semibold-webfont.svg#Proxima Nova Semibold") format('svg');
    font-weight: 600;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url("proximanova-bold-webfont.eot");
    src: url("proximanova-bold-webfont.eot?#iefix") 
    format('embedded-opentype'), url("proximanova-bold-webfont.woff")
     format('woff'), url("proximanova-bold-webfont.ttf") format('truetype'), 
     url("proximanova-bold-webfont.svg#Proxima Nova Bold") format('svg');
    font-weight: bold;
}

/** Rubix **/

@font-face {
    font-family: 'Rubix';
    src:  url("Rubik-Light.ttf") format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Rubix';
    src:  url("Rubik-Regular.ttf") format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Rubix';
    src:  url("Rubik-Medium.ttf") format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Rubix';
    src:  url("Rubik-Bold.ttf") format('truetype');
    font-weight: bold;
}

