@charset "utf-8";



#mainNav,
a {
    -webkit-transition: all .2s;
    -moz-transition: all .2s
}

a,
a:hover {
    color: #FFA000;
}

#mainNav,
#mainNav .navbar-brand,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Rubik";
}
/*@import url("font.css");*/



body,
html {
    width: 100%;
    height: 100%
}

hr {
    max-width: 50px;
    border-width: 3px;
    border-color: #56B945
}

hr.light {
    border-color: #fff
}

a {
    transition: all .2s
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
}

.navbar-brand {
    padding-top: 0px;
}

#why {
    background-image: url(../img/Bg_2.png);
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}
.unlock-learn{
    background-image: url(../img/Bg_2.png);
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover

}

#services {
    padding: 165px 0 85px;
    background: #f8f8f8;
}

#services h2 {
    font-size: 38px;
    font-weight: 200;
    margin-bottom: 32px;
    letter-spacing: .4px
}

#services h3 {
    font-size: 18px;
    font-weight: normal;
    letter-spacing: .25px;
    margin-bottom: 18px;
    text-align: center;
}
#services h3 span {
    font-weight: 500;
}

#services .services-2 p {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 0px;
    text-align: left;
    padding: 0 0px 0 18px;

margin-left: 50px;
color: #000;
margin-top: 10px;
}

#services p.subtle-text{

    position: absolute;
top: -20px;
left: 0;
right: 0;
text-transform: capitalize;
font-size: 120px;
color: #F8F8F8;
font-weight: bold;
z-index: -1;
}
#services .title-services-2 {
    margin-top: 40px;

}
.services-work {
    background: #fff;
    height: 76px;

padding: 8px;
border-top-left-radius: 78px;

border-bottom-left-radius: 78px;
border-top-right-radius: 78px;

border-bottom-right-radius: 78px;
margin-bottom: 20px;
webkit-background-clip: padding-box;
        -moz-background-clip: padding;
        background-clip: padding-box
}
.services-2 div div:nth-of-type(1) .service-box .services-work:after,
.services-2 div div:nth-of-type(3) .service-box .services-work:after {
        content: "";
    background: url(../img/arrow_top.png);
    margin-top: -18px;
    width: 104px;
    height: 102px;
    position: absolute;
    z-index: 0;
    float: left;
    margin-left: 52px;
}
.services-2 div div:nth-of-type(2) .service-box .services-work:before {
        content: "";
    background: url(../img/arrow_down.png);
    margin-top: -78px;
    width: 104px;
    height: 102px;
    position: absolute;
    z-index: 0;
    float: left;
    margin-left: 52px;
}




.services-work span {

    color: #fff;
    background: #FFA000;
    border-radius: 100%;
    height: 60px;
    width: 60px;
    float: left;
    padding: 7px 6px;
    font-size: 32px;
    text-align: center;
    margin-left: 0px;

}

#why h4,
#why p {
    letter-spacing: .2px
}

.unlock-learn h4,
.unlock-learn p {
    letter-spacing: .2px
}

#services p {
    font-size: 14px;
    letter-spacing: .2px;
line-height: 24px;
    padding: 0 30px;
    margin-bottom: 50px;
    font-weight: 200;
color: #7a7a7a;
}
#services p.description-text {
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 22px;
    color: #a2a2a2;
}

#services img {
    margin-bottom: 40px
}
#services .services-1 img {
    width: auto;
    height: 75px;
    }

#services .services-2 img {
    margin-bottom: 30px
}

.service-box {
    max-width: 400px
}

#why h2 {
    font-size: 46px;
    font-weight: 200;
    margin-bottom: 32px;
    letter-spacing: .6px;
}
.unlock-learn h2 {
    font-size: 46px;
    font-weight: 200;
    margin-bottom: 32px;
    letter-spacing: .6px
}

#try h2,
#what h2,
#why h4 {
    font-weight: 700
}

#why h4 {
    line-height: 20px;
    font-size: 16px;
    font-weight: 500;
}

#why p {
    line-height: 22px;
    font-size: 15px;
    font-weight: 200;
}

.why-box {
    margin: 21px 0;
    max-width: 400px;
    background: rgba(255, 255, 255, .18);
    padding: 24px 30px;
    color: #fff;
    border-radius:4px; 

}

.why-box img {
    margin: 24px 0 27px;
    width: 31px;
}
.unlock-learn h4 {
    line-height: 20px;
font-size: 17px;
font-weight: 500;
margin-bottom: 12px;
}

.unlock-learn p {
    line-height: 22px;
    font-size: 15px;
    font-weight: 200;
    color: #646464;
}

.unlock-learn-box {
    margin: 21px 0;
    max-width: 400px;
    background: #fff;
    color: #000;
    border-radius:0px; 

}
.learn-box {
padding: 24px 30px;
}


.unlock-learn-box img {
    margin: 0px;
    width: 100%;
}
#collapse-score ul {
    padding-left: 0;
}
#collapse-score ul li {
    list-style: none;
    margin-bottom: 27px;
}
#collapse-score ul li p{
    width: 100%;
}

#collapse-score ul li a{
    color: #000;
    font-size: 15px;
    text-decoration: none;
}
#collapse-score .important-information {
    float: none;
    position: relative;
    display: inline-block;
    margin-top: 0px;
}
.score-status {
    padding: 7px 17px;
    color: #fff;
    text-transform: uppercase;
    float: right;
    font-size: 10px;
    font-weight: 500;
    margin-top: -41.5px;
    letter-spacing: 0.83px;
    border-top-left-radius: 28px;
border-bottom-left-radius: 28px;
border-top-right-radius: 28px;
border-bottom-right-radius: 28px;
webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;

    }
    .score-status.good-status {
        background: #4A6BE2;

    }
    .score-status.medium-status {
        background: #56B945;

    }
    .score-status.low-status {
        background: #F8CE1C;

    }

#footer ul,
#try h2,
#what h2 {
    margin-bottom: 24px
}

#services #what h2 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom:0px ;
}

#what p {
    font-size: 15px;
    line-height: 24px;
    width: 90%;
    font-weight: 200;
    padding: 0;
}

#what img {
    width: 65%;
    position: relative;
    float: none;
    margin-top: -5%;
    margin-bottom: 2%;
}

#what div:nth-of-type(3) img {
    margin-bottom: 0
}

#what .accordion.accordion-1 p {
margin-bottom: 38px;
line-height: 26px;
color: #fff;
font-weight: 200;
padding-left: 48px;
}

#what .accordion.accordion-1 .card {
  border: 0; 

margin-bottom: 8px;
    padding: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    text-align: left;
}
 #what .accordion.accordion-1 .card .card-header {
    border: 0; 
    background: transparent;
    padding: 0;
    }
 #what .accordion.accordion-1 .card .card-body {
   
    background: #4A6BE2;
    padding: 0px 0px 0px 24px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    webkit-background-clip: padding-box;
     -moz-background-clip: padding;
    background-clip: padding-box;
}

#what .accordion a.accordion-link.collapsed,
#services #what .accordion a.accordion-link.collapsed:before {
    color: #000;
    background: #fff;
    border-radius: 4px;
    webkit-background-clip: padding-box;
     -moz-background-clip: padding;
    background-clip: padding-box;
}
#what .accordion a.accordion-link {
    color: #fff;
    text-decoration: none;
    padding: 22px 44px 22px 72px;
    float: left;
    width: 100%;
    background: #4A6BE2;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    webkit-background-clip: padding-box;
     -moz-background-clip: padding;
    background-clip: padding-box;
  
}
#services #what h2 a:before {
    content: "\f0da";
font-family: "FontAwesome";
font-size: 18px;
font-weight: normal;
color: #fff;
margin-left: -28px;
display: inline-block;
padding-top: 0px;
float: none;
position: absolute;
margin-top: 3px;

}

#try {
    background-image: url(../img/Bg_3.png);
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

#try h2 {
    font-size: 40px;
    letter-spacing: .5px
}

#try p {
    font-size: 18px;
    margin-bottom: 22px;
    letter-spacing: .22px;
    line-height: 29px;
    width: 80%
}

#try p:nth-of-type(2) {
    font-size: 14px;
    letter-spacing: .17px;
    line-height: 29px;
    margin-top: 15px
}

#try p:nth-of-type(2) a {
    color: #000;
    font-weight: 700;
    text-decoration: none;
}
#try p:nth-of-type(2) a:hover{
    color: #FFA000;
}
#try .btn {

    border-radius: 3px;
    font-weight: 700;

}

.user-login-top a{

    
    text-decoration: none;

}
.user-login-top a:hover{

    
    text-decoration: none;

}
.dashboard-nav .user-login-status img {

    width: 30px;

}
.dashboard-nav .user-login-status{
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    font-weight: 500;
}
.dashboard-nav .user-login-status span {

    margin-top: 3px;
    display: inline-block;
    float: right;
    margin-left: 9px;

}
.dashboard-nav .user-notification img {

    width: 21px;

}

#dashboard-page{
    background: #F7F7F7;
    padding-top: 330px;
}
.dashboard-content h3 {
    font-size: 18px;
    font-weight: normal;
    letter-spacing: .25px;
    margin-bottom: 18px;
    text-align: left;
    font-weight: 500;
}
.important-information {
    float: right;
    position: relative;
    display: block;
    font-size: 12px;
    font-weight: normal;
    color: #000;
    text-decoration: none;
    margin-top: -36px;
}
.dashboard-content  p {
    font-size: 14px;
    letter-spacing: .2px;
    line-height: 24px;
    padding: 0 0px;
    margin-bottom: 0px;
    font-weight: 200;
    color: #000;
}
.dashboard-content-box {
    background: #fff;

    box-shadow: 0px 19px 28px rgba(0,0, 0, 0.05);
    border-radius: 6px;
    -moz-border-radius: 6px;
    webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}
.dashboard-unlock .dashboard-content-box {
    padding: 45px 45px;
        margin-bottom: 34px;

    
}
.dashboard-unlock .title-text{
    margin-bottom: 40px;
}
.dashboard-unlock .title-text h3 {
    text-align: center;
    font-size: 32px;
    font-weight: 200;
    
}

.dashboard-unlock .title-text h3 span{
    font-weight: 500;
}

.dashboard-unlock .dashboard-content-box img{
    height: 75px;
    width: auto;
    
}
.dashboard-unlock .dashboard-content-box h3{
    text-align: center;
    margin-top: 30px;
}

#score-advice .title-text h3 {
    text-align: center;
    font-size: 32px;
    font-weight: 200;
    
}

.score-content {

   
    display: inline-block;
    right: 0;
    left: 0;

}

.pack-box-head {
    background-image: url(../img/bg_pack.png);
    /*background-size: 283px 348px;*/
    padding: 30px 0px 26px 0px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    -moz-border-top-right-radius: 6px;
    -moz-border-top-left-radius: 6px;
    webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}
.pack-box-head h3{
font-size: 14px;
font-weight: 500;
color: #fff;
letter-spacing: 0;
margin-top: 10px;
margin-bottom: 12px;
text-align: center;
}
.pack-box-head p{

}
.pack-box-head a .fa{
    font-family: "FontAwesome";

}
.pack-box-head span{

}


.pack-box-head img {
    width: 163px;
}
.pack-box-content {
    padding: 5px 0px 11px 0px;
    color: #000;
    margin-bottom: 20px;
}
.pack-box-content-1,.pack-box-content-2,.pack-box-content-3{
    padding: 28px 12px 28px 12px;
    border-bottom: 1px solid #EDEDED; 
}
.pack-box-content-3{
    border-bottom: 0px;
}
.pack-box-content p{
    font-size: 14px;
    line-height: 17px;
    color: #000;
    margin-bottom: 8px;
    padding: 0px;
    font-weight: normal;

}
.pack-box-content h3{
    font-size: 32px;
    color: #000;
    margin-bottom: 0px;
    padding: 0px;
    font-weight: 500;
    text-align: center;

}
.pack-box-content span{
    color: #a3a3a3;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;

}
.star-ratings {

    display: block;
    margin-bottom: 18px;

}
.star-ratings-css-content span {

    color: #F8C11C;

}

.star-rate {

    color: #b7b7b7;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.5px;

}
.btn-pack-box {

    border-top: solid 1px #4d4d4d;
    padding: 23px 22px 0px;

}
.pack-box-head .btn-pack-box a:nth-of-type(1){
    background: #4A6BE2;

    color: #fff;
    display: inline-block;
    text-decoration: none;
    padding: 11px 45px;
    font-size: 15px;

font-weight: 500;
box-shadow: 0px 11px 6px rgba(0,0, 0, 0.06);
    border-radius: 3px;

-moz-border-radius: 3px;

webkit-background-clip: padding-box;

-moz-background-clip: padding;

background-clip: padding-box;

-webkit-transition: .5s ease-in-out;

-moz-transition: .5s ease-in-out;

-o-transition: .5s ease-in-out;

-ms-transition: .5s ease-in-out;

transition: .5s ease-in-out;

}
.pack-box-head .btn-pack-box a:nth-of-type(1):hover{
   background:#6582EA; 
}

.pack-box-head .btn-pack-box a:nth-of-type(1):after {
    content: "\f0da";
    font-family: "FontAwesome";
    font-size: 14px;
    font-weight: normal;
    color: #fff;
    margin-left: 10px;
    display: inline-block;
    padding-top: 0px;
    float: none;
}
.pack-box-head .btn-pack-box a:nth-of-type(2):before {
    content: "\f055";
    font-family: "FontAwesome";
    font-size: 14px;
    font-weight: normal;
    color: #818181;
    margin-right: 10px;
    display: inline-block;
    padding-top: 0px;
    float: none;
    -webkit-transition: .5s ease-in-out;

-moz-transition: .5s ease-in-out;

-o-transition: .5s ease-in-out;

-ms-transition: .5s ease-in-out;

transition: .5s ease-in-out;
}

.pack-box-head .btn-pack-box a:nth-of-type(2){
    
    color: #818181;
    display: block;
    text-decoration: none;
    padding: 15px 0px 0px;
    font-size: 13px;
    font-weight: normal;
    -webkit-transition: .5s ease-in-out;

-moz-transition: .5s ease-in-out;

-o-transition: .5s ease-in-out;

-ms-transition: .5s ease-in-out;

transition: .5s ease-in-out;

}
.pack-box-head .btn-pack-box a:nth-of-type(2):hover,
.pack-box-head .btn-pack-box a:nth-of-type(2):hover:before{
    color: #FFF;
    -webkit-transition: .5s ease-in-out;

-moz-transition: .5s ease-in-out;

-o-transition: .5s ease-in-out;

-ms-transition: .5s ease-in-out;

transition: .5s ease-in-out;

}
.btn-more-pack-box {
    text-align: center;
    padding: 60px 0px 50px;
    border-bottom: 1px solid #e3e3e3;
}
.dashboard-content .pack-description{
    padding-top: 50px;

}

.btn-more-pack-box a{
    background: transparent;

    color: #000;
    display: inline-block;
    text-decoration: none;
    padding: 11px 25px;
    font-size: 16px;

font-weight: 500;
border: solid 2px #000;
    border-radius: 5px;

-moz-border-radius: 5px;

webkit-background-clip: padding-box;

-moz-background-clip: padding;

background-clip: padding-box;

-webkit-transition: .5s ease-in-out;

-moz-transition: .5s ease-in-out;

-o-transition: .5s ease-in-out;

-ms-transition: .5s ease-in-out;

transition: .5s ease-in-out;

}
.btn-more-pack-box a:hover{
    background: #FFA000;

    color: #fff;
    border: solid 2px #FFA000;
}
.pack-question {
float: right;

position: absolute;

right: 25px;

top: 8px;

color: #a7a7a7;

font-size: 16px;

}
.pack-question:hover {


color: #fff;

}




.pre-footer h2 {
    font-size: 38px;
letter-spacing: .5px;
font-weight: 200;
}
.pre-footer h2 span {
    font-weight: 500;
}

.pre-footer p {
    font-size: 14px;
margin-bottom: 30px;
letter-spacing: .22px;
line-height: 25px;
width: 80%;
font-weight: 200;
}
.pre-footer p:nth-of-type(1){
  width: 50%;  
}
    .btn-prefooter {
    text-align: left;
    }

.pre-footer .btn-prefooter p:nth-of-type(1) {
    font-size: 15px;
    letter-spacing: .17px;
    line-height: 29px;
    margin-top: 15px;
    margin-bottom: 60px;
    width: 100%;
    font-weight: 200
}

.pre-footer .btn-prefooter p:nth-of-type(1) a {
    color: #fff;
    font-weight: 500;
    text-decoration: none;
}
.pre-footer .btn-prefooter p:nth-of-type(1) a:hover{
    color: #FFA000;
}
.pre-footer .btn {

    border-radius: 3px;
    font-weight: 500;
letter-spacing: 0.4px;
 -moz-border-radius: 3px;
    webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;

}
#footer {
    background: #4A6BE2;
    color: #fff;
    padding: 60px 0
}

#footer h4 {
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: 1.5px;
    text-align: left
}

#footer .footer-about p,
#footer ul li {
    line-height: 27px;
    font-size: 13px;
    letter-spacing: .16px;
    text-align: left;
    font-weight: 200;
}

#footer ul {
    margin-left: 0;
    margin-top: 24px;
    padding-left: 0
}

#footer ul li {
    list-style: none
}

#footer ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 200;
}

#footer ul li a:focus,
#footer ul li a:hover {
    color: #FFF;
}

#footer ul li span {
    margin-top: 20px;
    display: block
}

#footer ul li span a {
    color: rgba(255, 255, 255, .52);
    text-decoration: underline
}

#footer .footer-about p {
    margin-top: 18px
}

#footer p.copyright {
    margin-top: 0;
    text-align: left;
    line-height: 20px;
    font-size: 13px;
    letter-spacing: .15px
}

#footer p.copyright a {
    color: rgba(255, 255, 255, .52);
    text-decoration: none;
}
#footer p.copyright a:hover{
    color: #FFF;
}

#footer .social_media {
    float: none;
    margin: 12px 0 0;
    padding-bottom: 24px;
}

.social_media ul {
    margin-bottom: 14px!important
}

#footer .social_media li {
    margin-right: 8px;
    border-radius: 100%;
    cursor: pointer;
    display: inline-block;
    height: 35px;
    width: 35px;
    text-align: center;
    color: #fff;
    padding: 1px;
    line-height: 35px;
    background: rgba(255, 255, 255, .2);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

#footer .social_media li a {
    color: #fff;
    font-size: 16px;
    padding-left: 4px
}

#footer .social_media li:hover {
    background: #FFA000;
}
    .copyrigt-bottom {
        background: #3C5EDB;
        margin-top: 45px;
    }
    #footer .copyrigt-bottom p.copyright {
    
    text-align: center;
    padding: 18px 0px;
    margin: 0px;
    }
.bg-primary {
    background-color: #56B945!important
}

.bg-dark {
    background-color: #212529!important
}

.text-faded {
    color: rgba(255, 255, 255, .7);
}

section {
    padding: 120px 0
}
#what {
    padding: 120px 0px 75px;
}

.section-heading {
    margin-top: 0
}

::-moz-selection {
    color: #fff;
    background: #212529;
    text-shadow: none
}

::selection {
    color: #fff;
    background: #212529;
    text-shadow: none
}

img::selection {
    color: #fff;
    background: 0 0
}

img::-moz-selection {
    color: #fff;
    background: 0 0
}

#mainNav,
#mainNav .navbar-nav>li.nav-item>a.nav-link.active:hover,
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active:hover {
    background-color: transparent
}

#mainNav {
    border-bottom: 1px solid transparent;
    transition: all .2s
}

#mainNav .navbar-brand {
    font-weight: 700;
    text-transform: uppercase;
    color: #F05F40
}

#mainNav .navbar-brand:focus,
#mainNav .navbar-brand:hover {
    color: #f05f40
}

#mainNav .navbar-nav>li.nav-item>a.nav-link,
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus {
    font-size: 15px;
    font-weight: 200;
    color: #fff;
    letter-spacing: .27;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link:focus:hover,
#mainNav .navbar-nav>li.nav-item>a.nav-link:hover {
    color: #FFA000;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link.active,
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active {
    color: #56B945!important;
    background-color: transparent
}

@media (min-width:992px) {
    #mainNav {
        border-color: transparent;
        background-color: transparent;
        padding: 12px 0;
    }
    #mainNav.dashboard-nav {
    border-color: transparent;
    background-color: rgba(0, 16, 76, .5);
    padding: 12px 0 0px;
    }
    #mainNav .navbar-brand {
        color: rgba(255, 255, 255, .7);
        position: absolute;
    }
    #mainNav.dashboard-nav .navbar-brand {
   
    top: 16px;
    margin-left: 6.65%;
    }
    #mainNav .navbar-brand:focus,
    #mainNav .navbar-brand:hover {
        color: #56B945;
    }

    #mainNav .navbar-nav>li.nav-item>a.nav-link {
        padding: 7px 20px
    }
    #mainNav .navbar-nav>li.nav-item>a.nav-link,
    #mainNav .navbar-nav>li.nav-item>a.nav-link:focus {
        color: rgba(255, 255, 255, 1)
    }
    #mainNav .navbar-nav>li.nav-item>a.nav-link:focus:hover,
    #mainNav .navbar-nav>li.nav-item>a.nav-link:hover {
        color: #fff
    }
    #mainNav.navbar-shrink {
        border-bottom: 1px solid rgba(33, 37, 41, .1);
        background-color: #4A6BE2
    }
    #mainNav.navbar-shrink .navbar-brand {
        color: #56B945
    }
    #mainNav.navbar-shrink .navbar-brand:focus,
    #mainNav.navbar-shrink .navbar-brand:hover {
        color: #f05f40
    }
    #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link,
    #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus {
        color: #fff
    }
    #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus:hover,
    #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:hover {
        color: #FFA000
    }
    #mainNav .navbar-nav>li.nav-item:last-child>a {
        background: rgba(255, 255, 255, .18);
        border-radius: 2px;
        -moz-border-radius: 2px;
        webkit-background-clip: padding-box;
        -moz-background-clip: padding;
        background-clip: padding-box
    }
    #mainNav .navbar-nav>li.nav-item:last-child>a:focus,
    #mainNav .navbar-nav>li.nav-item:last-child>a:hover,
    #mainNav.navbar-shrink .navbar-nav>li.nav-item:last-child>a {
        background: #FFA000;
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        -ms-transition: .5s ease-in-out;
        transition: .5s ease-in-out
    }
    #mainNav.navbar-shrink .navbar-nav>li.nav-item:last-child>a:focus,
    #mainNav.navbar-shrink .navbar-nav>li.nav-item:last-child>a:hover {
        background: #fff;
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        -ms-transition: .5s ease-in-out;
        transition: .5s ease-in-out
    }

    .dashboard-nav-wrap {
    max-width: 100%;
    padding: 0;
    width: 100%;
    }

    .dashboard-nav #navbarResponsive ul {
    margin: 0px auto;
    margin-left: auto;
    display: inline-block;
    float: none;
    max-width: 100%;
    width: 100%;
    text-align: center;
    }
    .dashboard-nav #navbarResponsive ul li{
    display: inline-block;
    float: none;
     }
    .dashboard-nav-menu-1 {
    width: 100%;
    border-bottom: 1px solid rgba(255,255, 255, 0.12);;
    }
    #mainNav.dashboard-nav  .navbar-nav > li.nav-item:last-child > a:focus,
    #mainNav.dashboard-nav .navbar-nav > li.nav-item:last-child > a:hover{
        background: transparent;
    }
    #mainNav.dashboard-nav  .navbar-nav > li.nav-item:last-child > a {

    background: transparent;
    }
    .dashboard-nav #navbarResponsive ul li:nth-of-type(5),
    .dashboard-nav #navbarResponsive ul li:nth-of-type(6) {

    position: relative;
    margin-left: 0px;

    }
    #mainNav.dashboard-nav .dashboard-nav-menu-1 .navbar-nav > li.nav-item > a.nav-link {

    padding: 7px 25px 16px 25px;
    font-size: 14px;

font-weight: 200;

letter-spacing: 0.25px;
border-bottom: 2px solid transparent;

    }
    #mainNav.dashboard-nav .dashboard-nav-menu-1 .navbar-nav > li.nav-item > a.nav-link.actived,
    #mainNav.dashboard-nav .dashboard-nav-menu-1 .navbar-nav > li.nav-item > a.nav-link:hover
    {
        border-bottom:2px solid #4A6BE2;
    }
    #mainNav.dashboard-nav.navbar-shrink .dashboard-nav-menu-1 .navbar-nav > li.nav-item > a.nav-link.actived,
    #mainNav.dashboard-nav.navbar-shrink .dashboard-nav-menu-1 .navbar-nav > li.nav-item > a.nav-link:hover{
        border-bottom:2px solid #fff;
        color: #fff;
    }
    #mainNav.dashboard-nav .dashboard-nav-menu-2 .navbar-nav > li.nav-item > a.nav-link {

    padding: 0px 30px 0px 30px;
    margin: 16px 0px 16px 0px;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 1.27px;
    border-right: 1px solid rgba(255,255, 255, 0.12);
    color: rgba(255,255, 255, 0.5);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    transition: .5s ease-in-out

    }
    #mainNav.dashboard-nav .dashboard-nav-menu-2 .navbar-nav > li.nav-item > a.nav-link.actived,
    #mainNav.dashboard-nav .dashboard-nav-menu-2 .navbar-nav > li.nav-item > a.nav-link:hover,
    #mainNav.dashboard-nav .dashboard-nav-menu-2 .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #fff;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    transition: .5s ease-in-out

    }
     #mainNav.dashboard-nav .dashboard-nav-menu-2 .navbar-nav > li.nav-item:nth-of-type(1) > a.nav-link:before{
    background-image: url(../img/dashboard.png);
    background-size: 20px 20px;
    display: inline-block;
    width: 20px; 
    height: 20px;
    content:"";
    margin-bottom: -7px;
    position: relative;
    margin-right: 9px;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    transition: .5s ease-in-out;

    }

    #mainNav.dashboard-nav .dashboard-nav-menu-2 .navbar-nav > li.nav-item:nth-of-type(1) > a.nav-link.actived:before,
    #mainNav.dashboard-nav .dashboard-nav-menu-2 .navbar-nav > li.nav-item:nth-of-type(1) > a.nav-link:hover:before{
    background-image: url(../img/dashboard-actived.png);
    background-size: 20px 20px;
    display: inline-block;
    width: 20px; 
    height: 20px;
    content:"";
    margin-bottom: -7px;
    position: relative;
    margin-right: 9px;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    transition: .5s ease-in-out;

    }
     #mainNav.dashboard-nav .dashboard-nav-menu-2 .navbar-nav > li.nav-item:nth-of-type(2) > a.nav-link:before{
    background-image: url(../img/text-file.png);
    background-size: 20px 20px;
    display: inline-block;
    width: 20px; 
    height: 20px;
    content:"";
    margin-bottom: -7px;
    position: relative;
    margin-right: 9px;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    transition: .5s ease-in-out;

    }
    #mainNav.dashboard-nav .dashboard-nav-menu-2 .navbar-nav > li.nav-item:nth-of-type(2) > a.nav-link.actived:before,
    #mainNav.dashboard-nav .dashboard-nav-menu-2 .navbar-nav > li.nav-item:nth-of-type(2) > a.nav-link:hover:before,
    #mainNav.dashboard-nav .dashboard-nav-menu-2 .navbar-nav > li.nav-item:nth-of-type(2) > a.nav-link:hover:focus{
    background-image: url(../img/text-file-actived.png);
    background-size: 20px 20px;
    display: inline-block;
    width: 20px; 
    height: 20px;
    content:"";
    margin-bottom: -7px;
    position: relative;
    margin-right: 9px;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    transition: .5s ease-in-out;

    }
    #mainNav.dashboard-nav .dashboard-nav-menu-2 .navbar-nav > li.nav-item:nth-of-type(3) > a.nav-link:before{
    background-image: url(../img/trophy.png);
    background-size: 20px 20px;
    display: inline-block;
    width: 20px; 
    height: 20px;
    content:"";
    margin-bottom: -7px;
    position: relative;
    margin-right: 9px;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    transition: .5s ease-in-out;

    }

    #mainNav.dashboard-nav .dashboard-nav-menu-2 .navbar-nav > li.nav-item:nth-of-type(3) > a.nav-link.actived:before,
    #mainNav.dashboard-nav .dashboard-nav-menu-2 .navbar-nav > li.nav-item:nth-of-type(3) > a.nav-link:hover:before,
    #mainNav.dashboard-nav .dashboard-nav-menu-2 .navbar-nav > li.nav-item:nth-of-type(3) > a.nav-link:hover:focus{
    background-image: url(../img/trophy-actived.png);
    background-size: 20px 20px;
    display: inline-block;
    width: 20px; 
    height: 20px;
    content:"";
    margin-bottom: -7px;
    position: relative;
    margin-right: 9px;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    transition: .5s ease-in-out;

    }
    #mainNav.dashboard-nav .dashboard-nav-menu-2 .navbar-nav > li.nav-item:last-child > a.nav-link{
        border-right: 0px solid rgba(255,255, 255, 0.12);

    }
    .user-login-top {

    position: absolute;
    float: right;
    right: 6.65%;
    top: 16px;

    }


    header.masthead{

        z-index: 0;
position: sticky;
position: -webkit-sticky;
    }
    header.masthead .image-1 img {
    width: 90%;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    margin-top: -24%;
    }
    header.dasboard-head.masthead .image-1 img {
    width: 548px;
    margin: 0 auto -513px;
    position: relative;

    }
    .score-content {
    margin: 40px auto;
    position: absolute;
    display: inline-block;
    right: 0;
    left: 0;
    top: 135px;
    width: 548px;
    }

    header.masthead .btn-primary{
        box-shadow: 0px 18px 31px rgba(255,160, 0, 0.31);

    }
    .services-1 {

    margin-top: -255px;
    background: #fff;
    padding-top: 85px;
    border-radius: 6px;
    box-shadow: 0px 12px 12px rgba(0,0, 0, 0.02);
    z-index: 1;
    position: relative;

    }

    #services p.description-text {
    padding: 0 30%;
    }
    .pre-footer {
    border-bottom: 1px solid rgba(255,255, 255, 0.2) ;
    margin-bottom: 40px;
    }
    #footer ul {
        margin-bottom: 0
    }
    
}

header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    background-image: url(../img/Bg_1.png);
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}


header.masthead hr {
    margin-top: 30px;
    margin-bottom: 30px
}



header.masthead h1 {
    font-size: 45px;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 40px;
}

header.masthead p {
    font-weight: 200;
    font-size: 16px;
    color: #fff;
    text-align: left;
    margin-bottom: 34px;
}

header.masthead .btn-primary {
    background-color: #FFA000;
    border-color: #FFA000;
    border-radius: 2px;
    -moz-border-radius: 2px;
    float: left;
    webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    font-weight: 500;
}
header.masthead .btn-primary:after {
    content: "\f0da";
font-family: "FontAwesome";
font-size: 14px;
font-weight: normal;
color: #fff;
margin-left: 13px;
display: inline-block;
padding-top: 0px;
float: none;

}



header.masthead img {
    display: block;
    width: 100%
}
header.dasboard-head.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    background-image: url(../img/dashboard_bg.png);
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}
header.dasboard-head.masthead h1 {
    font-size: 34px;
    text-align: center;
    font-family: "Rubik";
    font-weight: 200;
    margin-top: 0px;
    margin-bottom: 48px;
}
header.dasboard-head.masthead h1  span{
    font-weight: 500;
}
.dasboard-head .score-content p{
    text-align: center;
    margin-bottom: 37px;
}
.score-content p.title-score {
    text-align: center;
    color: #333;
    font-size: 22px;
    font-weight: 200;
    margin-bottom: 0;
}
.score-content .score {
    text-align: center;
    color: #393939;
    font-size: 55px;
    font-weight: 500;
    margin-bottom: 16px;
    line-height: 60px;
    letter-spacing: 0.81px;
}
.score-content .btn-score {

    color: #fff;
    background: #393939;
    margin-top: 20px;
    padding: 6px 20px;
    font-family: 'Georgia';
    font-style: italic;
    text-decoration: none;
    border-top-left-radius: 28px;
border-bottom-left-radius: 28px;
border-top-right-radius: 28px;
border-bottom-right-radius: 28px;
webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}
.score-content .update-score{

    color: #393939;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 0.29px;
}

.score-content .view-credit-score{
    color: #000;
    font-size: 16px;
    font-weight: 500;
    text-decoration: underline;
    margin-top: 8px;

display: block;

letter-spacing: 0.55px;
}
.score-content .view-credit-score:after{
content: "\f0da";

font-family: "FontAwesome";

font-size: 14px;

font-weight: normal;

color: #000;

margin-left: 5px;

display: inline-block;

padding-top: 0px;

float: none;
}
.score-question {
    margin-top: 27px;
    display: block;
    text-align: center;
    font-size: 23px;
    color: #dbdbdb;

text-align: center;

margin-left: 6px;
    }



@media (min-width:768px) {
    header.masthead p {
        font-size: 17px
    }
}

@media (min-width:993px) and (max-width:1024px) {
    body header.masthead {
    padding-top: 10px;
    }
}
@media (min-width:992px) {
    header.masthead {
        height: auto;
        min-height: 715px;
        padding-top: 0px;
        padding-bottom: 0;
    }
    header.dasboard-head.masthead {
    min-height: 498px;
    padding-top: 40px;
    }

     header.masthead h1 {
        font-size: 45px;
        text-align: left;
        margin-bottom: 20px;
        margin-top: 40px;
        font-family: 'Proxima Nova';
    }

}



.portfolio-box {
    position: relative;
    display: block;
    max-width: 650px;
    margin: 0 auto
}

.portfolio-box .portfolio-box-caption {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    background: rgba(240, 95, 64, .9);
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    text-align: center
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    padding: 0 15px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 18px
}

.portfolio-box:hover .portfolio-box-caption {
    opacity: 1
}

.portfolio-box:focus {
    outline: 0
}

@media (min-width:768px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 16px
    }
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 22px
    }
}

.text-primary {
    color: #F05F40!important
}

.btn {
    font-weight: 500;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    letter-spacing: .29px;
    font-family: "Rubik";
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    transition: .5s ease-in-out
}

.btn-xl {
    padding: 1rem 2rem
}

.btn-primary {
    background-color: #FFA000;
    border-color: #FFA000;
    padding: 12px 32px;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
    color: #fff;
    background-color: #FFB841 !important;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    transition: .5s ease-in-out
}

.btn-primary:active,
.btn-primary:focus {
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .2)!important
}
@media (min-width:1200px){
    #navbarResponsive ul {
    margin: 3px auto;
    display: inline-block;

    float: none;
    }
    #navbarResponsive ul li {
        display: block;

position: relative;

float: left;
    }
     #navbarResponsive ul li a{
        display: inline-block;


text-align: center;

     }
    #navbarResponsive ul li:nth-of-type(5){
    float: left;

display: inline-block;

position: absolute;

margin-left: 170px;
    }
    #navbarResponsive ul li:nth-of-type(6){
    float: left;

display: inline-block;

position: absolute;

margin-left: 250px;
    }
    #navbarResponsive ul li:nth-of-type(6) a:hover
    {
    color: #fff;
    }
    #dashboard-page {
    
    }

    
    

    .btn-prefooter {
    float: right;
    margin-top: -11%!important;
    }
    #services h2 {
    margin-bottom: 80px;
    }
    .pre-footer .btn {
    width: 100%;
    }
    
}
@media (min-width:1025px) and (max-width:1200px){
    #dashboard-page{

    }
    
    .why-box {
    height: 280px;
    }
    .unlock-learn-box{
        height: 280px;
    }
    .pre-footer .btn-prefooter {
    margin-top: -13%;
    }
    .services-2 div div:nth-of-type(1) .service-box .services-work:after, 
    .services-2 div div:nth-of-type(3) .service-box .services-work:after {
    content: "";
    background: url(../img/arrow_left.png);
    margin-top: 0px;
    width: 98px;
    height: 100px;
    position: absolute;
    z-index: 0;
    float: left;
    margin-left: 52px;
    left: 16%;
    }
    .services-2 div div:nth-of-type(2) .service-box .services-work::before {
    content: "";
    background: url(../img/arrow_right.png);
    margin-top: 24px;
    width: 98px;
    height: 100px;
    position: absolute;
    z-index: 0;
    float: left;
    margin-left: 0px;
    right: 21%;
    }
}
@media (min-width:1025px) {
    .image-2 {
    display: none;
    }
    .btn-prefooter {
    margin-top: -16%;
    float: right;
    }
    .copyrigt-bottom {
      display: none;
    }

}

@media (min-width:768px) and (max-width:1024px) {
    header.masthead {
    min-height: 555px;
    z-index: 0;
    position: relative;
    padding-top: 0px;
    padding-bottom: 0px;
    }
    header.dasboard-head.masthead
    {
    min-height: 555px;
    }
   .header-text {

    flex: 0 0 100%;
    max-width: 100%;

    }
    header.masthead h1 {
        font-size: 42px;
        text-align: center;
        padding: 0 18%
    }
    header.masthead p {
        text-align: center
    }
    header.masthead .btn-primary {
        float: none
    }
    
    .header-image {

    width: 100%;
    max-width: 100%;
    padding: 30px 18%;
    float: none;
    flex:100%;

display: inline-block;

position: relative;

    }
  
    header.masthead img {

    display: inline-block;
    width: 60%;
    margin-bottom: -34%;
    }

    header.masthead .image-2 img {
    width: 90%;
    margin-bottom: -75%;

    }
     header.dasboard-head.masthead .header-image {
    
    padding: 30px 0%;
    }
    header.dasboard-head.masthead .image-1 img {
    width: 548px;
    margin: 0 auto -568px;
    position: relative;

    }
    .score-content {

    top: 190px;
    }
    .score-content p.title-score {
    
    }
    .score-content .score {
    line-height: 56px;
    margin-bottom: 18px;
    }

    .image-1 {
    display: none;
    }
    .image-2 {
    display: inline-block!important;
    }
    .dasboard-head .image-1 {
    display: block;
    }


    #services {
    padding: 250px 0 35px;
    }
    .services-1 {
    margin-top: -35%;
    }
    .services-2 div div:nth-of-type(1) .service-box .services-work:after,
    .services-2 div div:nth-of-type(3) .service-box .services-work:after,
    .services-2 div div:nth-of-type(2) .service-box .services-work:before {
        /*display: none;*/
    }
   

    #services p {
        padding: 0 10px
    }
    #services h3 {
        font-size: 16px
    }
    #services h2 {

    font-size: 28px;
    }
    #services .services-2 div div div:nth-of-type(1) p {
        padding: 0 35% 0 15%;
        margin-bottom: 70px
    }
    #services p.description-text {
    padding: 0 25%;
    }
    #services p.subtle-text {
    font-size: 100px;
    }
    .service-box {
    max-width: 450px;
    }
    .services-2 div div:nth-of-type(1) .service-box .services-work:after, 
    .services-2 div div:nth-of-type(3) .service-box .services-work:after {
    content: "";
    background: url(../img/arrow_left.png);
    margin-top: -74px;
    width: 98px;
    height: 100px;
    position: absolute;
    z-index: 0;
    float: left;
    margin-left: 52px;
    left: 13%;
    }
    .services-2 div div:nth-of-type(2) .service-box .services-work::before {
    content: "";
    background: url(../img/arrow_right.png);
    margin-top: 24px;
    width: 98px;
    height: 100px;
    position: absolute;
    z-index: 0;
    float: left;
    margin-left: 0px;
    right: 18%;
    }

     #why {
    padding: 66px 0px;
    }
    .unlock-learn{
        padding: 66px 0px;
    }

    .why-box {
        padding: 24px 23px
    }
    #why h2 {
        font-size: 35px;
        letter-spacing: .44px
    }
    .why-box p {
        padding: 0 15px;
        font-size: 12px;
        letter-spacing: -10px;
        height: 120px
    }

    .learn-box {
        padding: 24px 23px
    }
    .unlock-learn h2 {
        font-size: 35px;
        letter-spacing: .44px
    }
    .unlock-learn-box p {
        padding: 0 0px;
font-size: 12px;
letter-spacing: 0px;
height: auto;
    }

     #what {
    padding: 120px 0px 15px;
    }

    #services #what h2 {
    font-size: 18px;
    }
    #services #what h2 a::before{
        margin-top: 0px;
    }
    #what .accordion.accordion-1 .card {
    }
    #what h2 {
        font-size: 20px;
    }
    #try h2 {
        font-size: 30px;
        letter-spacing: .38px;
    }
    .dashboard-content p {
    text-align: justify !important;
    }

    .pack-box-head .btn-pack-box a:nth-of-type(1) {
    padding: 11px 30px;
    }
    #footer {
   
    padding: 60px 0 0px;
    }
    .pre-footer {
    border-bottom: 1px solid rgba(255,255, 255, 0.2);
    margin-bottom: 40px;
    }
    .btn-prefooter {
    margin-top: 0px;
    float: none;
    text-align: center;
    }
    .pre-footer .btn-primary {
    padding: 12px 52px;
    }
    .pre-footer h2 {
    
    text-align: center;
    }
    .pre-footer p {
    margin-bottom: 30px;
    }
    .pre-footer p:nth-of-type(1) {
    width: 100%;
    padding: 0 13%;
    line-height: 27px;
    text-align: center;
    }
   .pre-footer .btn {
    float: none;
    margin-bottom: 10px;
    width: auto;
    text-align: center;
    }
    
    #footer .footer-about p.copyright {
        padding-bottom: 30px;
        margin-bottom: 30px
    }
    .copyrigt-middle{
        display: none;

    }

}
@media (min-width:768px)  and (max-width:991px) {
    header.dasboard-head.masthead {

    min-height: 433px;

    }
    .dashboard-nav-wrap .navbar-toggler{
        order:3;

    }
    .dashboard-nav-wrap .user-login-top
    {
        order:2;
        margin-left: 40%;

    }
    .dashboard-nav-wrap .navbar-brand{
        order:1;

    }
    .dashboard-nav-wrap #navbarResponsive {
    order: 4;
    }

     header.dasboard-head .header-image {
    margin-bottom: -205px;

    }
    .score-content {
    top: 175px;
    position: relative;
    width: 548px;
    }

    .dashboard-pack div div:nth-of-type(4) {
    display: none;
    }

    #footer .footer-about p.copyright {
        border-bottom: 1px solid rgba(255,255, 255, 0.2);
    }
    #footer .social_media {
    float: right;
    margin-top: -20%;
    }
    #footer .footer-about p {
    border-bottom: 1px solid rgba(255,255, 255, 0.2);
    padding-bottom: 30px;
    margin-bottom: 30px;
    }
}

@media (max-width:991px) {
    #mainNav .collapse.show,
    #mainNav.navbar-shrink {
        border-bottom: 0px solid rgba(33, 37, 41, .1);
       
    }
    #mainNav {

    /*background-color: #4A6BE2;
    background: #4A6BE2!important; */
    }
    .navbar-light .navbar-toggler {
        border-color: transparent
    }
    #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #4A6BE2;
    background: #4A6BE2!important;
     }


   header.masthead {
    padding-top: 40px;
    }
 
    
    header.masthead h1 {
         margin-top: 120px;
        font-size: 35px;
        padding: 0 90px;
        text-align: center;
    }
    header.masthead p {
        text-align: center;
        padding: 0 2%
    }
    header.masthead .btn-primary {
        float: none;
        margin-bottom: 20px;
    }
    header.masthead img {
        display: inline-block;
        width: 70%;
        float: none;
        margin-top: 40px
    }
    header.masthead .image-2 img {

    width: 90%;
    margin-bottom: -75%;

    }
    #services h2 {
        font-size: 24px
    }
    #services h3 {
        font-size: 14px
    }
    #services p {
        margin-bottom: 35px
    }
    #services .services-2 p {
        padding: 10px 15% 0 15%!important;

    }
    #services #what h2 a::before{
        margin-top: 0px;
    }
    .services-2 div div:nth-of-type(1) .service-box .services-work:after,
    .services-2 div div:nth-of-type(3) .service-box .services-work:after,
    .services-2 div div:nth-of-type(2) .service-box .services-work:before {
        /*display: none;*/
    }
    .services-2 div div:nth-of-type(1) .service-box .services-work::after,
    .services-2 div div:nth-of-type(3) .service-box .services-work::after
    {

        left: 1%;
    }
    .services-2 div div:nth-of-type(2) .service-box .services-work::before{
        right: 8%;
    }
        
    #why h2 {
        font-size: 25px
    }

    #why h4 {
    font-size: 14px;
    }

    .why-box {
        margin: 12px 0
    }

    .unlock-learn h2 {
        font-size: 25px
    }

    .unlock-learn h4 {
    font-size: 14px;
    }

    .unlock-learn-box {
        margin: 12px 0
    }


    #services p {
        padding: 0 5%
    }
    #try,
    #what {
        padding: 10px 0 37px
    }
    #why {
        padding: 66px 0 61px
    }
    .unlock-learn{
        padding: 66px 0 61px

    }
    #services {
        padding: 80px 0 43px;
    }

    #services .title-services-2 {
    margin-top: 0px;
    }
    #services .title-services-1 {
    margin-top: 80px;
    }
    .services-1 {
    margin-top: -155px;
background: #fff;
padding-top: 85px;
margin-bottom: 65px;
border-radius: 6px;
box-shadow: 0px 12px 12px rgba(0,0, 0, 0.02);
position: relative;
    }
    #try h2,
    #what h2 {
        font-size: 22px;
        line-height: 30px
    }
    #try p,
    #what p {
        width: 100%;
        line-height: 22px;
        font-size: 14px;
        letter-spacing: .17px
    }
    #what div:nth-of-type(3) img,
    #what img {
        margin-top: 25px;
        margin-bottom: 35px
    }
    .pre-footer h2 {
    font-size: 32px;
    }
    .pre-footer p,
    .pre-footer .btn-prefooter p:nth-of-type(1),
    .pre-footer{

    margin-bottom: 30px;

    }

    
    #footer {
   
    padding: 60px 0 0px;
    }

    #footer ul {
        margin-top: 8px;
        margin-bottom: 32px;
    }
    #footer .footer-getinthouch ul{
    margin-bottom: 32px;
    }
    #footer ul li span {
        margin-top: 0
    }
     .copyrigt-middle{
        display: none;

    }
}

@media (max-width:767px) {
    .navbar-brand {
    padding-top: 5px;
    }
    .dashboard-nav .navbar-toggler-right {

    float: right;

    }
    .dashboard-nav-wrap .navbar-toggler{
        order:3;

    }
    .dashboard-nav-wrap .user-login-top
    {
        order:2;
        margin-left: 25%;

    }
    .dashboard-nav-wrap .navbar-brand{
        order:1;

    }
    .dashboard-nav-wrap #navbarResponsive {
    order: 4;
    }
    header.masthead h1 {
        font-size: 30px;
        padding: 0 10px;
    }
    header.masthead .btn-primary {
        margin-bottom: 30px;
    }
    header.masthead img {
        width: 70%;
        margin-bottom: -28%;
    }
    .image-1 {
    display: none;
    }
    header.dasboard-head.masthead .image-1{
    display: block;
    }
    header.dasboard-head .header-image {
    margin-bottom: 0px;

    }
    
    .score-content {
    top: 145px;
    position: absolute;

    }
    .dasboard-head .score-content p:nth-of-type(2)  {
    
    margin-bottom: 26px;
    }
    .score-content p.title-score {
    
    font-size: 18px;
    }
    .score-content .score {
    font-size: 42px;
    margin-bottom: 15px;
    line-height: 45px;
    }
    .score-content .btn-score {
        font-size: 14px;
    }
    .score-content .update-score {
    
    font-size: 13px;
    }
    .score-content .view-credit-score {
    font-size: 12px;
margin-top: 4px;
    }
    .score-question {
    margin-top: 21px;
    font-size: 22px;
    }


    header.masthead .image-2 img {

    width: 80%;
    margin-bottom: -50%;

    }
    header.dasboard-head.masthead .image-1 img {
    width: 450px;
margin: 0px 0px -345px;
    }

    #services {

    padding: 60px 15px 43px;

    }
    #services p.description-text {
    padding: 0 15%;
    }
    #services p.subtle-text {
    font-size: 80px;
    }
    #services .services-2 p {
    padding: 0 30% 0 15% !important;
    }
    .services-2 div div:nth-of-type(1) .service-box .services-work:after,
    .services-2 div div:nth-of-type(3) .service-box .services-work:after,
    .services-2 div div:nth-of-type(2) .service-box .services-work:before {
        display: none;
    }
    #what .accordion.accordion-1 .card {

    background: transparent;
    }
    #what .accordion a.accordion-link {
    padding: 22px 44px 22px 52px;
    }
    #what .accordion.accordion-1 p {
    
    padding-left: 30px;
    }

    #try,
    #what {
        text-align: center
    }
    #what div:nth-of-type(3) img,
    #what img {
        margin-bottom: 10%;
        padding: 0 5%;
    }
    #try h2,
    #try p,
    #what h2,
    #what p {
        padding: 0 3%;
    }
    #services #what h2{
        padding: 0px;
    }
    #what img {
    width: 45%;
    }
    #what .img-1 {
        order: 1;
    }
    #what .img-2 {
        order: 3;
    }
    #what .text-1 {
        order: 2;
    }
    .dashboard-pack div div:nth-of-type(4) {
    display: none;
    }

    .pre-footer h2 {
    text-align: center;
    }
    .pre-footer p:nth-of-type(1) {
    width: 100%;
    padding: 0 3%;
    line-height: 27px;
    text-align: center;
    }
    .btn-prefooter {
    margin-top: 0px;
    float: none;
    text-align: center;
    }

    .pre-footer .btn {

    float: none;
    margin-bottom: 10px;
    width: auto;
    text-align: center;

    }
    .pre-footer .btn-primary {
    padding: 12px 52px;
    }
    #footer .footer-about,
    #what .text-2 {
        /*order:  1;*/
    }
    #footer .footer-link-1 {
        /*order: 2;*/
    }
    #footer .footer-link-2 {
        /*order: 3;*/
    }
    #footer .footer-getinthouch {
        /*order: 4;*/
    }

}

@media (max-width:575px) {
    .dashboard-nav-wrap .user-login-top {
    order: 2;
    margin-left: 13%;
    }
     #footer .footer-link-1 , #footer .footer-about{
    border-top: 0px solid rgba(255,255, 255, 0.2);
    padding-top: 0px;
    }
    
    #footer .footer-about,
    #footer .footer-link-1,
    #footer .footer-link-2,
    #footer .footer-getinthouch 
    {
    padding-left: 10%;
    }
} 
@media (max-width:485px) {
    .dashboard-nav-wrap .user-login-top {
    order: 2;
    margin-left: 0%;
    }
    header.dasboard-head.masthead .image-1 img {
    width: 350px;
    margin: 0px 0px -292px;
    }
    #dashboard-page {
    padding-top: 230px;
    }
    .score-content {
    top: 112px;
    }
    .score-content p.title-score {
    font-size: 14px;
    }
    .score-content .score {
    font-size: 32px;
    line-height: 34px;
    margin-bottom: 12px;
    }
    .score-content .btn-score {
    font-size: 11px;
    }
    .score-content .update-score {
    font-size: 11px;
    }
    .dasboard-head .score-content p:nth-of-type(2) {
    margin-bottom: 14px;
    }
    .score-content .view-credit-score {
    font-size: 10px;
    margin-top: 0px;
    }
    .score-question {
    margin-top: 18px;
    font-size: 13px;
    }
    .score-content .view-credit-score:after {
    
    font-size: 8px;
    }
}
@media (max-width:425px) {
    .dashboard-nav-wrap .user-login-top {
    order: 5;
    margin-left: 0%;
    display: none;
    }
}

@media (max-width:375px) {
  header.masthead img {
        margin-bottom: -35%;
    }
    header.masthead .image-2 img {

    width: 90%;
    margin-bottom: -65%;

    }
    #services {
    padding: 80px 10px 43px;
    }
    #services .title-services-2 {
    margin-top: 20px;
    }

    #services p.description-text {
    padding: 0 5%;
    }
    #services .services-2  .services-work p {

    padding: 0 18% 0 15% !important;

    }
    #what .accordion.accordion-1 .card {

    background: transparent;
    }

    #what .accordion a.accordion-link {
    padding: 22px 44px 22px 22px;
    }
    #what .accordion.accordion-1 p {
    margin-bottom: 24px;
    padding-left: 0px;
    }

    #what p,
    #what h2 {
        text-align: left;
    }
    #services #what h2 a:before{

        display: none;
    }
    #services #what h2 {
    font-size: 18px;
    }
    .why-box {
        margin: 12px 3%!important;
    }
    .unlock-learn-box{
        margin: 12px 3%!important;
    }
    #try h2,
    #try p
    {
        text-align: center
    }
}
@media (max-width:360px) {
header.dasboard-head.masthead .image-1 img {
    width: 300px;
    margin: 0px 0px -265px;
}
.score-content {
    top: 95px;
}
.score-content .score {
   
    margin-bottom: 5px;
}
.dasboard-head .score-content p:nth-of-type(2) {
    margin-bottom: 8px;
}
.important-information {
    float: left;
    margin-top: 0px;
    margin-bottom: 8px;
}

}

@media (max-width:320px) {
header.dasboard-head.masthead .image-1 img {

    width: 300px;
    margin-left: -8px;
}
 #services .services-2  .services-work p {

    padding: 0 16% 0 15% !important;

    }
}