@charset "utf-8";


#mainNav,
a {
    -webkit-transition: all .2s;
    -moz-transition: all .2s
}

a,
a:hover {
    color: #FFA000;
}

#mainNav,
#mainNav .navbar-brand,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Rubik";
}
/*@import url("font.css");*/



body,
html {
    width: 100%;
    height: 100%
}

hr {
    max-width: 50px;
    border-width: 3px;
    border-color: #56B945
}

hr.light {
    border-color: #fff
}

a {
    transition: all .2s
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
}

.navbar-brand {
    padding-top: 0px;
}

#why {
    background-image: url(../img/Bg_2.png);
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

#services {
    padding: 165px 0 85px;
    background: #f8f8f8;
}

#services h2 {
    font-size: 38px;
    font-weight: 200;
    margin-bottom: 32px;
    letter-spacing: .4px
}

#services h3 {
    font-size: 18px;
    font-weight: normal;
    letter-spacing: .25px;
    margin-bottom: 18px;
    text-align: center;
}
#services h3 span {
    font-weight: 500;
}

#services .services-2 p {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 0px;
    text-align: left;
    padding: 0 0px 0 18px;

margin-left: 50px;
color: #000;
margin-top: 10px;
}

#services p.subtle-text{

    position: absolute;
top: -20px;
left: 0;
right: 0;
text-transform: capitalize;
font-size: 120px;
color: #F8F8F8;
font-weight: bold;
z-index: -1;
}
#services .title-services-2 {
    margin-top: 40px;

}
.services-work {
    background: #fff;
    height: 76px;

padding: 8px;
border-top-left-radius: 78px;

border-bottom-left-radius: 78px;
border-top-right-radius: 78px;

border-bottom-right-radius: 78px;
margin-bottom: 20px;
webkit-background-clip: padding-box;
        -moz-background-clip: padding;
        background-clip: padding-box
}
.services-2 div div:nth-of-type(1) .service-box .services-work:after,
.services-2 div div:nth-of-type(3) .service-box .services-work:after {
        content: "";
    background: url(../img/arrow_top.png);
    margin-top: -18px;
    width: 104px;
    height: 102px;
    position: absolute;
    z-index: 0;
    float: left;
    margin-left: 52px;
}
.services-2 div div:nth-of-type(2) .service-box .services-work:before {
        content: "";
    background: url(../img/arrow_down.png);
    margin-top: -78px;
    width: 104px;
    height: 102px;
    position: absolute;
    z-index: 0;
    float: left;
    margin-left: 52px;
}




.services-work span {

    color: #fff;
    background: #FFA000;
    border-radius: 100%;
    height: 60px;
    width: 60px;
    float: left;
    padding: 7px 6px;
    font-size: 32px;
    text-align: center;
    margin-left: 0px;

}

#why h4,
#why p {
    letter-spacing: .2px
}

#services p {
    font-size: 14px;
    letter-spacing: .2px;
line-height: 24px;
    padding: 0 30px;
    margin-bottom: 50px;
    font-weight: 200;
color: #7a7a7a;
}
#services p.description-text {
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 22px;
    color: #a2a2a2;
}

#services img {
    margin-bottom: 40px
}
#services .services-1 img {
    width: auto;
    height: 75px;
    }

#services .services-2 img {
    margin-bottom: 30px
}

.service-box {
    max-width: 400px
}

#why h2 {
    font-size: 46px;
    font-weight: 200;
    margin-bottom: 32px;
    letter-spacing: .6px
}

#try h2,
#what h2,
#why h4 {
    font-weight: 700
}

#why h4 {
    line-height: 20px;
    font-size: 16px;
    font-weight: 500;
}

#why p {
    line-height: 22px;
    font-size: 15px;
    font-weight: 200;
}

.why-box {
    margin: 21px 0;
    max-width: 400px;
    background: rgba(255, 255, 255, .18);
    padding: 24px 30px;
    color: #fff;
    border-radius:4px; 

}

.why-box img {
    margin: 24px 0 27px;
    width: 31px;
}

#footer ul,
#try h2,
#what h2 {
    margin-bottom: 24px
}

#services #what h2 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom:0px ;
}

#what p {
    font-size: 15px;
    line-height: 24px;
    width: 90%;
    font-weight: 200;
    padding: 0;
}

#what img {
    width: 65%;
    position: relative;
    float: none;
    margin-top: -5%;
    margin-bottom: 2%;
}

#what div:nth-of-type(3) img {
    margin-bottom: 0
}

#what .accordion.accordion-1 p {
margin-bottom: 38px;
line-height: 26px;
color: #fff;
font-weight: 200;
padding-left: 48px;
}

#what .accordion.accordion-1 .card {
  border: 0; 

margin-bottom: 8px;
    padding: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    text-align: left;
}
 #what .accordion.accordion-1 .card .card-header {
    border: 0; 
    background: transparent;
    padding: 0;
    }
 #what .accordion.accordion-1 .card .card-body {
   
    background: #4A6BE2;
    padding: 0px 0px 0px 24px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    webkit-background-clip: padding-box;
     -moz-background-clip: padding;
    background-clip: padding-box;
}

#what .accordion a.accordion-link.collapsed,
#services #what .accordion a.accordion-link.collapsed:before {
    color: #000;
    background: #fff;
    border-radius: 4px;
    webkit-background-clip: padding-box;
     -moz-background-clip: padding;
    background-clip: padding-box;
}
#what .accordion a.accordion-link {
    color: #fff;
    text-decoration: none;
    padding: 22px 44px 22px 72px;
    float: left;
    width: 100%;
    background: #4A6BE2;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    webkit-background-clip: padding-box;
     -moz-background-clip: padding;
    background-clip: padding-box;
  
}
#services #what h2 a:before {
    content: "\f0da";
font-family: "FontAwesome";
font-size: 18px;
font-weight: normal;
color: #fff;
margin-left: -28px;
display: inline-block;
padding-top: 0px;
float: none;
position: absolute;
margin-top: 3px;

}

#try {
    background-image: url(../img/Bg_3.png);
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

#try h2 {
    font-size: 40px;
    letter-spacing: .5px
}

#try p {
    font-size: 18px;
    margin-bottom: 22px;
    letter-spacing: .22px;
    line-height: 29px;
    width: 80%
}

#try p:nth-of-type(2) {
    font-size: 14px;
    letter-spacing: .17px;
    line-height: 29px;
    margin-top: 15px
}

#try p:nth-of-type(2) a {
    color: #000;
    font-weight: 700;
    text-decoration: none;
}
#try p:nth-of-type(2) a:hover{
    color: #FFA000;
}
#try .btn {

    border-radius: 3px;
    font-weight: 700;

}

.pre-footer h2 {
    font-size: 38px;
letter-spacing: .5px;
font-weight: 200;
}
.pre-footer h2 span {
    font-weight: 500;
}

.pre-footer p {
    font-size: 14px;
margin-bottom: 30px;
letter-spacing: .22px;
line-height: 25px;
width: 80%;
font-weight: 200;
}
.pre-footer p:nth-of-type(1){
  width: 50%;  
}
    .btn-prefooter {
    text-align: left;
    }

.pre-footer .btn-prefooter p:nth-of-type(1) {
    font-size: 15px;
    letter-spacing: .17px;
    line-height: 29px;
    margin-top: 15px;
    margin-bottom: 60px;
    width: 100%;
    font-weight: 200
}

.pre-footer .btn-prefooter p:nth-of-type(1) a {
    color: #fff;
    font-weight: 500;
    text-decoration: none;
}
.pre-footer .btn-prefooter p:nth-of-type(1) a:hover{
    color: #FFA000;
}
.pre-footer .btn {

    border-radius: 3px;
    font-weight: 500;
letter-spacing: 0.4px;

}
#footer {
    background: #4A6BE2;
    color: #fff;
    padding: 60px 0
}

#footer h4 {
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: 1.5px;
    text-align: left
}

#footer .footer-about p,
#footer ul li {
    line-height: 27px;
    font-size: 13px;
    letter-spacing: .16px;
    text-align: left;
    font-weight: 200;
}

#footer ul {
    margin-left: 0;
    margin-top: 24px;
    padding-left: 0
}

#footer ul li {
    list-style: none
}

#footer ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 200;
}

#footer ul li a:focus,
#footer ul li a:hover {
    color: #FFF;
}

#footer ul li span {
    margin-top: 20px;
    display: block
}

#footer ul li span a {
    color: rgba(255, 255, 255, .52);
    text-decoration: underline
}

#footer .footer-about p {
    margin-top: 18px
}

#footer p.copyright {
    margin-top: 0;
    text-align: left;
    line-height: 20px;
    font-size: 13px;
    letter-spacing: .15px
}

#footer p.copyright a {
    color: rgba(255, 255, 255, .52);
    text-decoration: none;
}
#footer p.copyright a:hover{
    color: #FFF;
}

#footer .social_media {
    float: none;
    margin: 12px 0 0;
    padding-bottom: 24px;
}

.social_media ul {
    margin-bottom: 14px!important
}

#footer .social_media li {
    margin-right: 8px;
    border-radius: 100%;
    cursor: pointer;
    display: inline-block;
    height: 35px;
    width: 35px;
    text-align: center;
    color: #fff;
    padding: 1px;
    line-height: 35px;
    background: rgba(255, 255, 255, .2);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

#footer .social_media li a {
    color: #fff;
    font-size: 16px;
    padding-left: 4px
}

#footer .social_media li:hover {
    background: #FFA000;
}
    .copyrigt-bottom {
        background: #3C5EDB;
        margin-top: 45px;
    }
    #footer .copyrigt-bottom p.copyright {
    
    text-align: center;
    padding: 18px 0px;
    margin: 0px;
    }
.bg-primary {
    background-color: #56B945!important
}

.bg-dark {
    background-color: #212529!important
}

.text-faded {
    color: rgba(255, 255, 255, .7);
}

section {
    padding: 120px 0
}
#what {
    padding: 120px 0px 75px;
}

.section-heading {
    margin-top: 0
}

::-moz-selection {
    color: #fff;
    background: #212529;
    text-shadow: none
}

::selection {
    color: #fff;
    background: #212529;
    text-shadow: none
}

img::selection {
    color: #fff;
    background: 0 0
}

img::-moz-selection {
    color: #fff;
    background: 0 0
}

#mainNav,
#mainNav .navbar-nav>li.nav-item>a.nav-link.active:hover,
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active:hover {
    background-color: transparent
}

#mainNav {
    border-bottom: 1px solid transparent;
    transition: all .2s
}

#mainNav .navbar-brand {
    font-weight: 700;
    text-transform: uppercase;
    color: #F05F40
}

#mainNav .navbar-brand:focus,
#mainNav .navbar-brand:hover {
    color: #f05f40
}

#mainNav .navbar-nav>li.nav-item>a.nav-link,
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus {
    font-size: 15px;
    font-weight: 200;
    color: #fff;
    letter-spacing: .27;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link:focus:hover,
#mainNav .navbar-nav>li.nav-item>a.nav-link:hover {
    color: #FFA000;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link.active,
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active {
    color: #56B945!important;
    background-color: transparent
}

@media (min-width:992px) {
    #mainNav {
        border-color: transparent;
        background-color: transparent;
        padding: 12px 0
    }
    #mainNav .navbar-brand {
        color: rgba(255, 255, 255, .7);
        position: absolute;
    }
    #mainNav .navbar-brand:focus,
    #mainNav .navbar-brand:hover {
        color: #56B945;
    }

    #mainNav .navbar-nav>li.nav-item>a.nav-link {
        padding: 7px 20px
    }
    #mainNav .navbar-nav>li.nav-item>a.nav-link,
    #mainNav .navbar-nav>li.nav-item>a.nav-link:focus {
        color: rgba(255, 255, 255, 1)
    }
    #mainNav .navbar-nav>li.nav-item>a.nav-link:focus:hover,
    #mainNav .navbar-nav>li.nav-item>a.nav-link:hover {
        color: #fff
    }
    #mainNav.navbar-shrink {
        border-bottom: 1px solid rgba(33, 37, 41, .1);
        background-color: #4A6BE2
    }
    #mainNav.navbar-shrink .navbar-brand {
        color: #56B945
    }
    #mainNav.navbar-shrink .navbar-brand:focus,
    #mainNav.navbar-shrink .navbar-brand:hover {
        color: #f05f40
    }
    #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link,
    #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus {
        color: #fff
    }
    #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus:hover,
    #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:hover {
        color: #FFA000
    }
    #mainNav .navbar-nav>li.nav-item:last-child>a {
        background: rgba(255, 255, 255, .18);
        border-radius: 2px;
        -moz-border-radius: 2px;
        webkit-background-clip: padding-box;
        -moz-background-clip: padding;
        background-clip: padding-box
    }
    #mainNav .navbar-nav>li.nav-item:last-child>a:focus,
    #mainNav .navbar-nav>li.nav-item:last-child>a:hover,
    #mainNav.navbar-shrink .navbar-nav>li.nav-item:last-child>a {
        background: #FFA000;
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        -ms-transition: .5s ease-in-out;
        transition: .5s ease-in-out
    }
    #mainNav.navbar-shrink .navbar-nav>li.nav-item:last-child>a:focus,
    #mainNav.navbar-shrink .navbar-nav>li.nav-item:last-child>a:hover {
        background: #fff;
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        -ms-transition: .5s ease-in-out;
        transition: .5s ease-in-out
    }
    header.masthead{

        z-index: 0;
position: sticky;
position: -webkit-sticky;
    }
    header.masthead .image-1 img {
    width: 90%;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    margin-top: -24%;
    }
    header.masthead .btn-primary{
        box-shadow: 0px 18px 31px rgba(255,160, 0, 0.31);

    }
    .services-1 {

    margin-top: -255px;
    background: #fff;
    padding-top: 85px;
    border-radius: 6px;
    box-shadow: 0px 12px 12px rgba(0,0, 0, 0.02);
    z-index: 1;
    position: relative;

    }

    #services p.description-text {
    padding: 0 30%;
    }
    .pre-footer {
    border-bottom: 1px solid rgba(255,255, 255, 0.2) ;
    margin-bottom: 40px;
    }
    #footer ul {
        margin-bottom: 0
    }
    
}

header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    background-image: url(../img/Bg_1.png);
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

header.masthead hr {
    margin-top: 30px;
    margin-bottom: 30px
}

header.masthead h1 {
    font-size: 45px;
    text-align: left;
    font-family: "Proxima Nova";
}

header.masthead p {
    font-weight: 200;
    font-size: 16px;
    color: #fff;
    text-align: left;
    margin-bottom: 34px;
}

header.masthead .btn-primary {
    background-color: #FFA000;
    border-color: #FFA000;
    border-radius: 2px;
    -moz-border-radius: 2px;
    float: left;
    webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    font-weight: 500;
}
header.masthead .btn-primary:after {
    content: "\f0da";
font-family: "FontAwesome";
font-size: 14px;
font-weight: normal;
color: #fff;
margin-left: 13px;
display: inline-block;
padding-top: 0px;
float: none;

}



header.masthead img {
    display: block;
    width: 100%
}

@media (min-width:768px) {
    header.masthead p {
        font-size: 17px
    }
}

@media (min-width:993px) and (max-width:1024px) {
    body header.masthead {
    padding-top: 10px;
    }
}
@media (min-width:992px) {
    header.masthead {
        height: auto;
        min-height: 715px;
        padding-top: 0px;
        padding-bottom: 0;
    }

     header.masthead h1 {
        font-size: 45px;
        text-align: left;
        margin-bottom: 20px;
        margin-top: 40px;
    }

}



.portfolio-box {
    position: relative;
    display: block;
    max-width: 650px;
    margin: 0 auto
}

.portfolio-box .portfolio-box-caption {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    background: rgba(240, 95, 64, .9);
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    text-align: center
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    padding: 0 15px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 18px
}

.portfolio-box:hover .portfolio-box-caption {
    opacity: 1
}

.portfolio-box:focus {
    outline: 0
}

@media (min-width:768px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 16px
    }
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 22px
    }
}

.text-primary {
    color: #F05F40!important
}

.btn {
    font-weight: 500;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    letter-spacing: .29px;
    font-family: "Rubik";
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    transition: .5s ease-in-out
}

.btn-xl {
    padding: 1rem 2rem
}

.btn-primary {
    background-color: #FFA000;
    border-color: #FFA000;
    padding: 12px 32px;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
    color: #fff;
    background-color: #FFB841 !important;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    transition: .5s ease-in-out
}

.btn-primary:active,
.btn-primary:focus {
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .2)!important
}
@media (min-width:1200px){
    #navbarResponsive ul {
    margin: 3px auto;
    display: inline-block;

    float: none;
    }
    #navbarResponsive ul li {
        display: block;

position: relative;

float: left;
    }
     #navbarResponsive ul li a{
        display: inline-block;


text-align: center;

     }
    #navbarResponsive ul li:nth-of-type(5){
    float: left;

display: inline-block;

position: absolute;

margin-left: 170px;
    }
    #navbarResponsive ul li:nth-of-type(6){
    float: left;

display: inline-block;

position: absolute;

margin-left: 250px;
    }
    #navbarResponsive ul li:nth-of-type(6) a:hover
    {
    color: #fff;
    }
    .btn-prefooter {
    float: right;
    margin-top: -11%!important;
    }
    #services h2 {
    margin-bottom: 80px;
    }
    .pre-footer .btn {
    width: 100%;
    }
    
}
@media (min-width:1025px) and (max-width:1200px){
    
    .why-box {
    height: 280px;
    }
    .pre-footer .btn-prefooter {
    margin-top: -13%;
    }
    .services-2 div div:nth-of-type(1) .service-box .services-work:after, 
    .services-2 div div:nth-of-type(3) .service-box .services-work:after {
    content: "";
    background: url(../img/arrow_left.png);
    margin-top: 0px;
    width: 98px;
    height: 100px;
    position: absolute;
    z-index: 0;
    float: left;
    margin-left: 52px;
    left: 16%;
    }
    .services-2 div div:nth-of-type(2) .service-box .services-work::before {
    content: "";
    background: url(../img/arrow_right.png);
    margin-top: 24px;
    width: 98px;
    height: 100px;
    position: absolute;
    z-index: 0;
    float: left;
    margin-left: 0px;
    right: 21%;
    }
}
@media (min-width:1025px) {
    .image-2 {
    display: none;
    }
    .btn-prefooter {
    margin-top: -16%;
    float: right;
    }
    .copyrigt-bottom {
      display: none;
    }

}

@media (min-width:768px) and (max-width:1024px) {
    header.masthead {
    min-height: 555px;
     z-index: -1;
    position: relative;
 padding-top: 0px;
        padding-bottom: 0px;

    }
   .header-text {

    flex: 0 0 100%;
    max-width: 100%;

    }
    header.masthead h1 {
        font-size: 42px;
        text-align: center;
        padding: 0 18%
    }
    header.masthead p {
        text-align: center
    }
    header.masthead .btn-primary {
        float: none
    }
    
    .header-image {

    width: 100%;
    max-width: 100%;
    padding: 30px 18%;
    float: none;
    flex:100%;

display: inline-block;

position: relative;

    }
  
    header.masthead img {

    display: inline-block;
    width: 60%;
    margin-bottom: -34%;
}
    header.masthead .image-2 img {
    width: 90%;
    margin-bottom: -75%;

    }

     .image-1 {
    display: none;
    }
    .image-2 {
    display: inline-block!important;
    }


    #services {
    padding: 250px 0 35px;
    }
    .services-1 {
    margin-top: -35%;
    }
    .services-2 div div:nth-of-type(1) .service-box .services-work:after,
    .services-2 div div:nth-of-type(3) .service-box .services-work:after,
    .services-2 div div:nth-of-type(2) .service-box .services-work:before {
        /*display: none;*/
    }
   

    #services p {
        padding: 0 10px
    }
    #services h3 {
        font-size: 16px
    }
    #services h2 {

    font-size: 28px;
    }
    #services .services-2 div div div:nth-of-type(1) p {
        padding: 0 35% 0 15%;
        margin-bottom: 70px
    }
    #services p.description-text {
    padding: 0 25%;
    }
    #services p.subtle-text {
    font-size: 100px;
    }
    .service-box {
    max-width: 450px;
    }
    .services-2 div div:nth-of-type(1) .service-box .services-work:after, 
    .services-2 div div:nth-of-type(3) .service-box .services-work:after {
    content: "";
    background: url(../img/arrow_left.png);
    margin-top: -74px;
    width: 98px;
    height: 100px;
    position: absolute;
    z-index: 0;
    float: left;
    margin-left: 52px;
    left: 13%;
    }
    .services-2 div div:nth-of-type(2) .service-box .services-work::before {
    content: "";
    background: url(../img/arrow_right.png);
    margin-top: 24px;
    width: 98px;
    height: 100px;
    position: absolute;
    z-index: 0;
    float: left;
    margin-left: 0px;
    right: 18%;
    }

     #why {
    padding: 66px 0px;
    }

    .why-box {
        padding: 24px 23px
    }
    #why h2 {
        font-size: 35px;
        letter-spacing: .44px
    }
    .why-box p {
        padding: 0 15px;
        font-size: 12px;
        letter-spacing: -10px;
        height: 120px
    }
     #what {
    padding: 120px 0px 15px;
    }

    #services #what h2 {
    font-size: 18px;
    }
    #services #what h2 a::before{
        margin-top: 0px;
    }
    #what .accordion.accordion-1 .card {
    }
    #what h2 {
        font-size: 20px;
    }
    #try h2 {
        font-size: 30px;
        letter-spacing: .38px;
    }
    #footer {
   
    padding: 60px 0 0px;
    }
    .pre-footer {
    border-bottom: 1px solid rgba(255,255, 255, 0.2);
    margin-bottom: 40px;
    }
    .btn-prefooter {
    margin-top: 0px;
    float: none;
    text-align: center;
    }
    .pre-footer .btn-primary {
    padding: 12px 52px;
    }
    .pre-footer h2 {
    
    text-align: center;
    }
    .pre-footer p {
    margin-bottom: 30px;
    }
    .pre-footer p:nth-of-type(1) {
    width: 100%;
    padding: 0 13%;
    line-height: 27px;
    text-align: center;
    }
   .pre-footer .btn {
    float: none;
    margin-bottom: 10px;
    width: auto;
    text-align: center;
    }
    
    #footer .footer-about p.copyright {
        padding-bottom: 30px;
        margin-bottom: 30px
    }
    .copyrigt-middle{
        display: none;

    }

}
@media (min-width:768px)  and (max-width:991px) {
    #footer .footer-about p.copyright {
        border-bottom: 1px solid rgba(255,255, 255, 0.2);
    }
    #footer .social_media {
    float: right;
    margin-top: -20%;
    }
    #footer .footer-about p {
    border-bottom: 1px solid rgba(255,255, 255, 0.2);
    padding-bottom: 30px;
    margin-bottom: 30px;
    }
}

@media (max-width:991px) {
    #mainNav .collapse.show,
    #mainNav.navbar-shrink {
        border-bottom: 0px solid rgba(33, 37, 41, .1);
       
    }
    #mainNav {

    /*background-color: #4A6BE2;
    background: #4A6BE2!important; */
    }
    .navbar-light .navbar-toggler {
        border-color: transparent
    }
    #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #4A6BE2;
    background: #4A6BE2!important;
     }


   header.masthead {
    padding-top: 40px;
    }
 
    
    header.masthead h1 {
         margin-top: 120px;
        font-size: 35px;
        padding: 0 90px;
        text-align: center;
    }
    header.masthead p {
        text-align: center;
        padding: 0 2%
    }
    header.masthead .btn-primary {
        float: none;
        margin-bottom: 20px;
    }
    header.masthead img {
        display: inline-block;
        width: 70%;
        float: none;
        margin-top: 40px
    }
    header.masthead .image-2 img {

    width: 90%;
    margin-bottom: -75%;

    }
    #services h2 {
        font-size: 24px
    }
    #services h3 {
        font-size: 14px
    }
    #services p {
        margin-bottom: 35px
    }
    #services .services-2 p {
        padding: 10px 15% 0 15%!important;

    }
    #services #what h2 a::before{
        margin-top: 0px;
    }
    .services-2 div div:nth-of-type(1) .service-box .services-work:after,
    .services-2 div div:nth-of-type(3) .service-box .services-work:after,
    .services-2 div div:nth-of-type(2) .service-box .services-work:before {
        /*display: none;*/
    }
    .services-2 div div:nth-of-type(1) .service-box .services-work::after,
    .services-2 div div:nth-of-type(3) .service-box .services-work::after
    {

        left: 1%;
    }
    .services-2 div div:nth-of-type(2) .service-box .services-work::before{
        right: 8%;
    }

    #why h2 {
        font-size: 25px
    }

    #why h4 {
    font-size: 14px;
    }

    .why-box {
        margin: 12px 0
    }
    #services p {
        padding: 0 5%
    }
    #try,
    #what {
        padding: 10px 0 37px
    }
    #why {
        padding: 66px 0 61px
    }
    #services {
        padding: 80px 0 43px;
    }

    #services .title-services-2 {
    margin-top: 0px;
    }
    #services .title-services-1 {
    margin-top: 80px;
    }
    .services-1 {
    margin-top: -155px;
background: #fff;
padding-top: 85px;
margin-bottom: 65px;
border-radius: 6px;
box-shadow: 0px 12px 12px rgba(0,0, 0, 0.02);
    }
    #try h2,
    #what h2 {
        font-size: 22px;
        line-height: 30px
    }
    #try p,
    #what p {
        width: 100%;
        line-height: 22px;
        font-size: 14px;
        letter-spacing: .17px
    }
    #what div:nth-of-type(3) img,
    #what img {
        margin-top: 25px;
        margin-bottom: 35px
    }
    .pre-footer h2 {
    font-size: 32px;
    }
    .pre-footer p,
    .pre-footer .btn-prefooter p:nth-of-type(1),
    .pre-footer{

    margin-bottom: 30px;

    }

    
    #footer {
   
    padding: 60px 0 0px;
    }

    #footer ul {
        margin-top: 8px;
        margin-bottom: 32px;
    }
    #footer .footer-getinthouch ul{
    margin-bottom: 32px;
    }
    #footer ul li span {
        margin-top: 0
    }
     .copyrigt-middle{
        display: none;

    }
}

@media (max-width:767px) {
    .navbar-brand {
    padding-top: 5px;
    }
    header.masthead h1 {
        font-size: 30px;
        padding: 0 10px;
    }
    header.masthead .btn-primary {
        margin-bottom: 30px;
    }
    header.masthead img {
        width: 70%;
        margin-bottom: -28%;
    }
    .image-1 {
    display: none;
    }
    header.masthead .image-2 img {

    width: 80%;
    margin-bottom: -50%;

    }
    #services {

    padding: 60px 15px 43px;

    }
    #services p.description-text {
    padding: 0 15%;
    }
    #services p.subtle-text {
    font-size: 80px;
    }
    #services .services-2 p {
    padding: 0 30% 0 15% !important;
    }
    .services-2 div div:nth-of-type(1) .service-box .services-work:after,
    .services-2 div div:nth-of-type(3) .service-box .services-work:after,
    .services-2 div div:nth-of-type(2) .service-box .services-work:before {
        display: none;
    }
    #what .accordion.accordion-1 .card {

    background: transparent;
    }
    #what .accordion a.accordion-link {
    padding: 22px 44px 22px 52px;
    }
    #what .accordion.accordion-1 p {
    
    padding-left: 30px;
    }

    #try,
    #what {
        text-align: center
    }
    #what div:nth-of-type(3) img,
    #what img {
        margin-bottom: 10%;
        padding: 0 5%;
    }
    #try h2,
    #try p,
    #what h2,
    #what p {
        padding: 0 3%;
    }
    #services #what h2{
        padding: 0px;
    }
    #what img {
    width: 45%;
    }
    #what .img-1 {
        order: 1;
    }
    #what .img-2 {
        order: 3;
    }
    #what .text-1 {
        order: 2;
    }

    .pre-footer h2 {
    text-align: center;
    }
    .pre-footer p:nth-of-type(1) {
    width: 100%;
    padding: 0 3%;
    line-height: 27px;
    text-align: center;
    }
    .btn-prefooter {
    margin-top: 0px;
    float: none;
    text-align: center;
    }

    .pre-footer .btn {

    float: none;
    margin-bottom: 10px;
    width: auto;
    text-align: center;

    }
    .pre-footer .btn-primary {
    padding: 12px 52px;
    }
    #footer .footer-about,
    #what .text-2 {
        /*order:  1;*/
    }
    #footer .footer-link-1 {
        /*order: 2;*/
    }
    #footer .footer-link-2 {
        /*order: 3;*/
    }
    #footer .footer-getinthouch {
        /*order: 4;*/
    }

}

@media (max-width:575px) {
     #footer .footer-link-1 , #footer .footer-about{
        border-top: 1px solid rgba(255,255, 255, 0.2);
    padding-top: 35px;
    }
    
    #footer .footer-about,
    #footer .footer-link-1,
    #footer .footer-link-2,
    #footer .footer-getinthouch 
    {
    padding-left: 10%;
    }

@media (max-width:375px) {
  header.masthead img {
        margin-bottom: -35%;
    }
    header.masthead .image-2 img {

    width: 90%;
    margin-bottom: -65%;

    }
    #services {
    padding: 80px 10px 43px;
    }
    #services .title-services-2 {
    margin-top: 20px;
    }

    #services p.description-text {
    padding: 0 5%;
    }
    #services .services-2  .services-work p {

    padding: 0 18% 0 15% !important;

    }
    #what .accordion.accordion-1 .card {

    background: transparent;
    }

    #what .accordion a.accordion-link {
    padding: 22px 44px 22px 22px;
    }
    #what .accordion.accordion-1 p {
    margin-bottom: 24px;
    padding-left: 0px;
    }

    #what p,
    #what h2 {
        text-align: left;
    }
    #services #what h2 a:before{

        display: none;
    }
    #services #what h2 {
    font-size: 18px;
    }
    .why-box {
        margin: 12px 3%!important;
    }
    #try h2,
    #try p
    {
        text-align: center
    }
}
@media (max-width:320px) {

 #services .services-2  .services-work p {

    padding: 0 16% 0 15% !important;

    }

     }