@charset "utf-8";


    .modal-content {
    background-color: transparent;
    border:none;
    }
    .modal-header {
    border-bottom: none;
    padding: 1em 0em 1em;
    }
    .modal-body {
    padding: 44px 63px;

    background: #fff;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-top-right-radius: 4px;
    -moz-border-top-left-radius: 4px;
    webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;

    }
    .modal-body h3{
      text-align: center;
    
    font-size: 20px;
    font-weight: 500;

    }
    .modal-body p{
    text-align: center;
    margin-bottom: 30px;
    font-size: 13px;
    color: #000;
    


    }
    .modal-body p a{
        color: #000;
    }
    .devide-pop-up {
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 1.2px;
    text-align: center;
    margin: 30px auto;
    }

    #pop_up-login .devide-pop-up:before,
    #pop_up-login .devide-pop-up:after {
    content: "";
    position: absolute;
    height: 5px;
    border-top: 1px solid #eaeaea;
    margin-top: 8px;
    width: 164px;
    }
    #pop_up-login .devide-pop-up:before {
    left: 0;
    margin-right: 0px;
    margin-left: 52px;
    }
    #pop_up-login .devide-pop-up:after {
    right: 0;

    margin-left: 0px;
     margin-right: 52px;
    }
    #pop_up-register .devide-pop-up:before,
    #pop_up-register .devide-pop-up:after {
    content: "";
    position: absolute;
    height: 5px;
    border-top: 1px solid #eaeaea;
    margin-top: 8px;
    width: 86px;
    }
    #pop_up-register .devide-pop-up:before {
    left: 0;
    margin-right: 0px;
    margin-left: 52px;
    }
    #pop_up-register .devide-pop-up:after {
    right: 0;

    margin-left: 0px;
     margin-right: 52px;
    }
    #pop_up-register input{
    color: #C3C3C3;
    font-size: 14px;
    font-weight: 200;
    border: solid 1px #E2E2E2;
    padding:13px 10% 13px 12%;
    box-shadow: 0px 2px 6px rgba(0,0, 0, 0.07);
    -moz-box-shadow: 0px 2px 6px rgba(0,0, 0, 0.07);
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-top-right-radius: 4px;
    -moz-border-top-left-radius: 4px;
    webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    }
   
    #pop_up-register input#email-user {
    
    background-image: url(../img/envelope.png);
    background-repeat: no-repeat;
    background-position: 14px 14px;
    background-size: 18px;
    }
    #pop_up-register input#password-user {
    
    background-image: url(../img/lock.png);
    background-repeat: no-repeat;
    background-position: 14px 14px;
    background-size: 18px;
    }
    #pop_up-register .submit-register {
    background: #4A6BE2;
    border: none;
    font-size: 16px;
    font-weight: 500;
    padding: 11px 10%;
    float: none;
    text-align: center;
    width: 100%;
    color: #fff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -moz-border-radius: 4px;
    webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    
     box-shadow: 0px 2px 6px rgba(0,0, 0, 0.07);
    -moz-box-shadow: 0px 2px 6px rgba(0,0, 0, 0.07);
    }
    #pop_up-register .submit-register:after {
    content: "\f0da";
    font-family: "FontAwesome";
    font-size: 14px;
    font-weight: normal;
    color: #fff;
    margin-left: 13px;
    display: inline-block;
    padding-top: 0px;
    float: none;
    }

    .modal-footer {
    background: #535353;
    display: inline-block;
    text-align: center;

    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-bottom-right-radius: 4px;
    -moz-border-bottom-left-radius: 4px;
    webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    }
    .modal-footer a {
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    letter-spacing: 0.2px;
    font-weight: 200;

    }
    .login-facebook,.login-google,.login-email{
    padding: 13px 10%;
    color: #fff;
    text-align: left;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    margin: 14px auto;
    box-shadow: 0px 2px 6px rgba(0,0, 0, 0.14);
    box-shadow: 0px 2px 6px rgba(0,0, 0, 0.14);
    width: 75%;
    }
    .login-facebook{
    background: #4868AA;
    }
    .login-google{
    background: #DB5043;
    }
    .login-email{
    background: #1D1D1D;
    }
    .modal-body .fa{
    margin-right: 32px;
    float: left;
    font-size: 16px;
    line-height: 20px;
    width: 20px;
    }
    .close img {
    width: 17px;
    }
    @media (max-width:490px) {
       .modal-header {
      padding: 0;
      }
      .modal-header .close {
      padding: 1rem;
      margin: 0 auto;
      } 
      .modal-body {
      padding: 44px 43px;
      }
      .modal-body .fa {
      margin-right: 12px;
      }
      .login-facebook, .login-google, .login-email {
      padding: 13px 8%;
      width: 100%;
      }
      #pop_up-login .devide-pop-up:before {
      margin-left: 32px;
      }
      #pop_up-login .devide-pop-up:after {
      margin-right: 32px;
      }
      #pop_up-login .devide-pop-up:before, #pop_up-login .devide-pop-up:after {
      width: 84px;
      }

      #pop_up-register .devide-pop-up:before {
      margin-left: 22px;
      }
      #pop_up-register .devide-pop-up:after {
      margin-right: 22px;
      }
      #pop_up-register .devide-pop-up:before, #pop_up-register .devide-pop-up:after {
      width: 24px;
      }
      #pop_up-register .modal-body {
      padding: 44px 33px;
      }
      #pop_up-register input {
      padding: 13px 10% 13px 19%;
      }


    }